/* body {
  margin: 0px;
  padding: 0px;
  font-family: "perpetua";
}

.header {
  width: 100%;
  font-size: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #000000;
  align-items: center;
}

.header_img {
  width: 140px;
}

.header_menu {
  display: flex;
  flex-direction: row;
  margin-right: 25px;
  padding: 0px;
}

.header_menu_group {
  padding: 10px 15px;
  list-style: none;
  border-top: 1px solid #ede499;
  border-bottom: 1px solid #ede499;
}

.header_menu_group:hover {
  transition: 0.5s;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background-color: #ede499;
}

.header_menu_link {
  text-decoration: none;
  color: #ede499;
}

.header_menu_link:hover {
  color: #000000;
}

.main {
  width: 100%;
  height: 100vh;
  background: linear-gradient(#000000 65%, #ede499);
}

.main_container {
  width: 277px;
  position: relative;
  left: 45%;
  top: 30%;
  margin: -75px 0 0 -75px;
}

.main_container_img {
  width: 277px;
  height: 267px;
  position: absolute;
} */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "perpetua";
}
:root{
  --black: #2f2f2f;
  --white: #ffffff;
  --gold: #ede499;
  --coffe: #443130;
  --orange: #c19e72;
}
.main{
  position: relative;
  min-height: 100vh;
  background: linear-gradient(#2f2f2f, #443130);
  padding: 30px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main::before{
  content: 'Estancos';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16vw;
  font-weight: 700;
  color: rgba(237, 228, 153, 0.05);
}
header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  max-width: 180px;
}
.navigation{
  display: flex;
}
.navigation li{
  list-style: none;
}
.navigation li a {
  position: relative;
  color: var(--gold);
  margin-left: 40px;
  text-decoration: none;
  transition: 0.25s;
}
.navigation li a:hover{
  color: var(--white);
}
.content{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  z-index: 1;
}
.content h2 {
  font-size: 5em;
  font-weight: 300;
  color: var(--orange);
  text-align: center;
}
.content h2 span{
  font-weight: 700;
}
.btn{
  display: inline-block;
  background: var(--gold);
  color: var(--coffe);
  text-decoration: none;
  padding: 16px 36px;
  margin-top: 20px;
  border-radius: 50px;
  font-size: 1.25em;
  transition: 0.25s;
}
.btn:hover{
  letter-spacing: 4px;
}
.escudo{
  max-width: 90%;
}
.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sci{
  display: flex;
}
.sci li {
  list-style: none;
}
.sci li a {
  color: var(--orange);
  font-size: 2em;
  margin-right: 20px;
  transition: 0.25;
}
.sci li a:hover{
  color: var(--white);
}
.dots{
  display: flex;
}
.dots .dot{
width: 10px;
height: 10px;
background: rgba(237, 228, 153, 0.2);
border-radius: 50%;
cursor: pointer;
margin-left: 10px;
}
.dots .dot.active{
  background: var(--white);
}

.slider .slides{
  position: absolute;
  top: 60%;
  left: 0;
  transform: translateY(-50%);
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 150px;
  transition: 0.25s;
  opacity: 0;
  pointer-events: none;
}
.slider .slides.active{
  top: 60%;
  opacity: 1;
}
.slider .slides h2 {
  color: var(--gold);
  font-size: 3em;
}

.slider .slides:last-child h2 span {
  text-align: end;
}

.slider .slides h2 span {
  color: var(--orange);
  font-size: 0.5em;
  font-weight: 350;
  font-style: italic;
}

.slider .slides h2:last-child{
  text-align: end;
}

.slider .slides h2 span {
  font-weight: 700;
  font-style: italic;
}